*
body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
h1{
    font-size: 50px;
   
}
.orang{
color: orange;

}
.section{
    display: flex;
}
.all
{
    width: 50%;
    padding-left: 5%;
}
.all img{
    width: 50%;
    margin-left: 130%;
    margin-top: -50%;
}
.button{
    text-decoration: none;
   background-color: orange; 
/* background-image: linear-gradient(orange tomato); */
    padding: 10px 40px;
    border-radius: 10px;
}
.top-banner{
 background-image:url(img/images/top-banner.png);
 background-repeat: no-repeat;
}
.sect{
    margin-top: 10%;
    background-image: url(img/images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.img2 img{
  width: 25%;
}
.Drime {
    margin-left: 50%;
    margin-top: -27%;
   
}
.button1{
    text-decoration: none;
    /* background-image: linear-gradient(orange tomato) */
    background-color: orange;
    border-radius: 10px;
    padding: 10px 40px;
}